{
    "algorithm": "OPENSSL",
    "chmod": "0755",
    "compression": "GZ",
    "directories": [
        "lib"
    ],
    "files": [
        "LICENSE"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests","examples","test.php"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "intercept": true,
    "key": ".travis/phar-private.pem",
    "main": "sshman.php",
    "output": "sshman.phar",
    "alias": "sshman",
    "stub": true
}