{
    "chmod": "0755",
    "compression": "GZ",
    "directories": [
        "lib"
    ],
    "files": [
        "LICENSE",
        "VERSION",
        "HELP"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests","examples","test.php"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "intercept": true,
    "main": "sshman.php",
    "output": "sshman.phar",
    "alias": "sshman",
    "stub": true
}